body {
    background-color: rgb(38, 38, 38);
}

* {
    margin: 0;
    padding: 0;
}

#logo {
    font-family: 'Dancing Script', sans-serif, 'Times New Roman';
    font-size: 60px;
    letter-spacing: 2px;
}

/* Navigation bar */
.navlist {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
    height: 4.5rem;
    padding: 5px;
    background-color: rgb(64, 63, 63);
}
/* Navigation items */
.navitem a {
    font-family: 'Julius Sans One', sans-serif, 'Times New Roman';
    display: flex;
    flex-direction: flex-end;
    list-style-type: none;
    text-decoration: none;
    flex-wrap: wrap;
    margin-right: 2rem;
    color: white;
    font-size: 1rem;
    font-weight: 550;
}

.navitem :hover {
    color: skyblue;
    font-weight: bolder;
    transition-duration: 700ms;
}

/* Logo preferences */
.navitem:first-child {
    margin-right: auto;
    margin-left: 2rem;
    margin-top: -4px
}

#mainbox1 {
    background: url(../images/Forest.jpg);
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'Bebas Neue', 'Times New Roman';
    text-align: center;
    padding-top: 80px;
    font-size: 70px;
}

.maintxt {
    color: white;
    font-family: 'Times New Roman', sans-serif;
    font-size: 24px;
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding-bottom: 80px;
}

.portfolio {
    height: 300px;
    padding: 4px;

}

.mainbox {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.caption {
    background-color: white;
    color: black;
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
    text-align: center;
}

.wrdcaption {
    margin-top: -4px;
}

.portcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 70%);
    padding: 40px 10px 10px 40px;
}

.portitem {
    margin-top: 77px;
    text-align: center;
    text-indent: 25px;
    font-family: 'Fira Sans', sans-serif; 
    max-width: 900px;
    line-height: 1.5rem;
    color: white;
}

.portwrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#portheader {
    margin-top: -60px;
    font-family: 'Bebas Neue', 'Times New Roman';
    font-size: 32px;
    line-height: 42px;
    color: skyblue;
}

.photographs {
    margin-left: 70px;
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 40% );
    max-width: 80%;
    max-height: 80%;
}